@import '../variables.scss';

.image {
  background-color: transparent;
  width: $left-img-size;
  height: $left-img-size;
  margin-top: 50px;

  img {
    max-width: 100%;
    border-radius: 50%;
  }
}

:global {
  $blur-time : 1500ms;

  .blurry-enter {
    filter: blur(5px);
  }

  .blurry-enter-active {
    transition: filter $blur-time;
    filter: blur(0px);
  }

  .blurry-exit {
    filter: blur(0px);
  }

  .blurry-exit-active {
    transition: all $blur-time;
    filter: blur(4px);
  }
}
