@import '../variables.scss';

.resume {
  display: flex;

  @media #{$media-desktop} {
    flex-direction: row;
  }

  @media #{$media-mobile} {
    flex-direction: column;
  }

  .rightSide {
    min-height: 100vh;
    position: relative;
    // left: 30%;
    width: 70%;
    padding: 20px;
    padding-right: 100px;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      margin: 0 10px;
    }
  }
}
