@import '../variables.scss';

$top-section-height: 15%;
$top-section-height-mb: 5%;

.infoSide {
  background: linear-gradient( 330deg, #1d354c 0%, #281e2d 90% );
  position: fixed;
  overflow: hidden;
  color: white;

  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info {
    box-sizing: border-box;
    width: 100%;

    padding-left: 50px;
    padding-right: 40px;
    padding-top: ($left-img-size / 2);
    padding-bottom: ($left-img-size / 2);
    height: (100% - $top-section-height);
  }
}
