@font-face {
  font-family: 'Inconsolata';
  src:url('../assets/fonts/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMono';
  src:url('../assets/fonts/SpaceMono-Regular.ttf');
}

:global {
  body {
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
  }
}
