@import './Variables.scss';

$top-section-height    : 15%;
$top-section-height-mb : 5%;

.infoSide {
  position   : fixed;
  color      : white;
  background-color: $left-info-bg;
  display : flex;

  @media #{$media-mobile} {
    flex-direction: row;
    width: 100%;
    height: auto;
    top: 0;
  }

  @media #{$media-not-mobile} {
    position   : fixed;
    overflow   : hidden;
    display    : flex;
    float      : left;
    height     : 100%;
    width      : 30%;
    color      : white;
    flex-direction: column;
  }



  .top {
    width : 100%;
    background-color: #161616;
    // background: linear-gradient(#434343, #292929);

    @media #{$media-mobile} {
      position: absolute;
      background-color: $left-info-bg;
      height: $top-section-height-mb;
      bottom: 0;
    }

    @media #{$media-not-mobile} {
      position: relative;
      height: $top-section-height;
    }
  }

  .info {
    box-sizing : border-box;
    width      : 100%;

    @media #{$media-mobile} {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: ($left-img-size-mb / 2);
    }

    @media #{$media-not-mobile} {
      padding-left: 50px;
      padding-right: 40px;
      padding-top: ($left-img-size / 2);
      padding-bottom: ($left-img-size / 2);
    }


    @media #{$media-mobile} {
      height: (100% - $top-section-height-mb);
    }

    @media #{$media-not-mobile} {
      height: (100% - $top-section-height);
    }
  }

  footer {
    opacity: 0;
    padding: 5px;
    font-size: 0.8em;
    background-color: $left-info-bg;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }

    .react {
      margin-left: 5px;
      animation-name:rotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes rotate{
    100%{
      transform:rotate(360deg);
    }
  }
