.infoSection {
  display: block;

  .titleWrap {
    display: block;
    position : relative;

    .title {
      padding-left: 40px;
      font-size: 1.4em;
    }

    .icon {
      position: absolute;
      left: 0;
      top: -6px;
      font-size: 1.8em;
    }
  }

  .content {
    padding-top: 15px;
  }
}
