$bg-color : #292929;
$img-size : 250px;
$top-height : 18%;

.infoSide {
  position   : fixed;
  overflow   : hidden;
  display    : flex;
  background-color: $bg-color;
  float      : left;
  height     : 100%;
  width      : 30%;
  color      : white;
  flex-direction: column;
  overflow   : hidden;

  .top {
    position: relative;
    width : 100%;
    height : $top-height;
    background-color: black;
    // background: linear-gradient(#434343, #292929);

    .image {
      position: absolute;
      background-color: $bg-color;
      width: $img-size;
      height: $img-size;
      left: 50%;
      bottom: -($img-size / 2);
      margin-left: -($img-size / 2);
      border-radius: 100%;

      img {
        max-width:100%;
        border-radius: 100%;
        transition: filter 1000ms;
        filter: blur(0px);

        &.blurry {
          filter: blur(4px);
        }
      }
    }
  }

  .info {
    box-sizing : border-box;
    width      : 100%;
    height     : (100% - $top-height);
    padding    : ($img-size / 2 + 30) 80px;
  }



}
