@import './Variables.scss';

.image {
  position: absolute;

  left: 50%;
  border-radius: 100%;

  @media #{$media-mobile} {
    background-color: transparent;
    width: $left-img-size-mb;
    height: $left-img-size-mb;
    bottom: -($left-img-size-mb / 2);
    margin-left: -($left-img-size-mb / 2);
  }

  @media #{$media-not-mobile} {
    background-color: $left-info-bg;
    width: $left-img-size;
    height: $left-img-size;
    bottom: -($left-img-size / 2);
    margin-left: -($left-img-size / 2);
  }

  img {
    max-width:100%;
    border-radius: 100%;
  }
}

:global {
  $blur-time : 1250ms;

  .blurry-enter {
    filter: blur(4px);
  }

  .blurry-enter-active {
    transition: all $blur-time;
    filter: blur(0px);
  }

  .blurry-exit {
    filter: blur(0px);
  }

  .blurry-exit-active {
    transition: all $blur-time;
    filter: blur(4px);
  }
}
