@import './Variables.scss';

.infoSection {
  display: block;
  margin : 5% 0;

  @media #{$media-mobile} {
    margin : 15px 0;
    min-height: 150px;
  }

  @media #{$media-not-mobile} {
    margin : 25px 0;
    min-height: 200px;
  }


  $title-height:  35px;

  .titleWrap {
    position : relative;
    max-height: $title-height;

    .title {
      display: inline-block;
      padding-left: 40px;
      padding-right: 15px;
      font-size: 1.4em;
      background-color: $left-info-bg;
      height: $title-height;
      line-height: $title-height;
      // border: 1px solid white;
    }

    .icon {
      position: absolute;
      left: 8px;
      font-size: 1.5em;
      height: $title-height;
    }

    $padding-right: 40px;

    &:before {
      content : '';
      width: 100%;
      border-bottom: 1px solid white;
      display: block;
      position: absolute;
      right: -$padding-right;
      top: 50%;
      z-index: -1;
    }
  }

  .content {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    line-height: 25px;
  }
}

:global {
  $line-time : 500ms;
  $line-pos : 25px;
  $content-pos : 5px;
  $content-time : 800ms;

  .line-enter {
    opacity: 0;
    left : $line-pos;

    &.line-enter-active {
      transition: all $line-time;
      opacity: 1;
      left: 0;
    }
  }

  .line-exit {
    opacity: 0;
    left : $line-pos;

    &.line-exit-active {
      transition: all $line-time;
      opacity: 0;
      left : $line-pos;
    }
  }


  .content-enter {
    opacity: 0;
    bottom : $content-pos;

    &.content-enter-active {
      transition: all $content-time;
      opacity: 1;
      bottom: 0;
    }
  }

  .content-exit {
    opacity: 0;
    bottom : $content-pos;

    &.content-exit-active {
      transition: all $content-time;
      opacity: 0;
      bottom : $content-pos;
    }
  }
}
