$bg-color : #292929;

.leftSide {
  box-sizing : border-box;
  position   : fixed;
  overflow   : hidden;
  background-color: $bg-color;
  padding    : 0 80px;
  height     : 100%;
  width      : 30%;
  color      : white;
}
