$title-height: 35px;

.section {
  position: relative;
  margin: 20px 0px;
  // min-height: 260px;

  .titleWrap {
    position : relative;
    margin-bottom: 10px;

    .title {
      display: inline-block;
      padding-left: 40px;
      height: $title-height;
      line-height: $title-height;
    }

    .icon {
      display: inline-block;
      font-size: 1.5em;
      height: $title-height;
    }

    .titleText {
      position: relative;
      display: inline-block;
      margin: 0;
      top: -5px;
      margin-left: 15px
    }

    &:before {
      content: '';
      width: 50px;
      border-bottom: 2px solid black;
      display: block;
      position: absolute;
      left: -20px;
      top: 50%;
      z-index: -1;
    }
  }

  .content {
    position: relative;
    line-height: 25px;
  }
}

:global {
  .contentLine-enter {
    opacity: 0;
    left : -10px;

    &.contentLine-enter-active {
      transition: all 500ms;
      transition-delay: 1000ms;
      opacity: 1;
      left: 0;
    }
  }
}
