@import '../variables.scss';

$title-height: 35px;

.infoSection {
  display: block;
  margin: 20px 0;


  @media #{$media-desktop} {
    min-height: 180px;
  }

  @media #{$media-mobile} {
    min-height: 210px;
  }

  .titleWrap {
    position : relative;

    .title {
      display: inline-block;
      padding-left: 40px;
      height: $title-height;
      line-height: $title-height;
    }

    .titleText {
      display: block;
      text-align: center;
      font-size: 1.15em;
      width: 90px;
    }

    .icon {
      position: absolute;
      left: 10px;
      font-size: 1.5em;
      height: $title-height;
    }

    &:before {
      content: '';
      width: 82%;
      border-bottom: 1px solid white;
      display: block;
      position: absolute;
      right: -50px;
      top: 50%;
      // z-index: -1;
    }
  }

  .content {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    line-height: 25px;
  }
}

:global {
  .line-enter {
    opacity: 1;
    left : 40px;

    &.line-enter-active {
      transition: all 400ms;
      opacity: 1;
      left: 0;
    }
  }

  .content-enter {
    opacity: 0;
    bottom : 4px;

    &.content-enter-active {
      transition: all 500ms;
      opacity: 1;
      bottom: 0;
    }
  }
}
